@media (width <=480px) {
    #auth-form {
        width: 100% !important;
    }
}

body {
    display: flex;
    flex-direction: column;
}

/* Wrapper */
#auth-main {
    display: grid;
    flex-grow: 1;
}

/* Форма */
#auth-form {
    place-self: center;
    width: max-content;
    text-align: center;
    width: 300px;
}

/* блок с input элементами */
.auth-inputs-parent {
    display: flex;
    flex-direction: column;
}

/* Все input елементы формы */
.auth-inputs-parent>input {
    margin: 6px 0;
}

/* Кнопка "Submit" */
.auth-inputs-parent>input[type=submit] {
    width: 100%;
    border-radius: 2px;
    padding: 10px 0;
}

/* Сообщение об ошибке */
#auth-message {
    color: var(--logo-color);
}