:root {
    --main-border: 2px groove var(--block-color-bg);
}

@media (width<=480px) {
    main {
        padding-inline: 0 !important;
    }

    #company-comments {
        grid-template-columns: 1fr !important;
    }
}

#company-title {
    color: var(--logo-color);
    text-align: center;
    font-weight: normal;
    white-space: pre-wrap;
    font-size: min(8vw, 30px);
    cursor: default;
}

#company-details {
    font-size: 18px;
    border-bottom: var(--main-border);
    padding: 20px 5px 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

#company-details>dt {
    margin-top: 20px;
    color: var(--logo-color);
    cursor: default;
}

#company-details>dd {
    overflow-wrap: anywhere;
    white-space: break-spaces;
}

#company-details>dd::selection {
    background-color: var(--logo-color);
    color: #000;
}

/* Блок с коментариями */
#company-comments {
    display: grid;
    grid-template-columns: repeat(2, 480px);
    gap: 30px;
}

/* Форма для создания коментария */
#company-comment-form {
    padding: 10px;
}

#company-comment-form>textarea {
    border-radius: 10px;
    font-size: 18px;
}

#company-comment-form>button {
    margin: 10px auto 25px;
}

/* Надпись над настройками видемости */
#company-comment-form>button+p {
    color: #777;
    text-align: center;
    margin-bottom: 20px;
    cursor: default;
    font-size: .9em;

}

/* Блок с radio переключателями видемости */
#company-comment-form>div {
    display: flex;
    justify-content: space-around;
}

#company-comment-form>div>input {
    display: none;
}

#company-comment-form>div>input:checked+label {
    color: var(--logo-color);
}

/* Надпиьсь, что коментариев ещё нет " */
#company-no-comments{
text-align: center;
}

/* Каждый блок с коментарием */
.company-comment {
    border: var(--main-border);
    border-radius: 4px;
    padding-block: 0;
    position: relative;
}

/* Кто видит коментарий */
.company-comment-visibility {
    color: #777;
    cursor: default;
}

/* Имя автора коментария */
.company-comment-name {
    color: var(--logo-color);
    cursor: default;
}

/* Текст коментария */
.company-comment-text {
    white-space: break-spaces;
    font-style: italic;
}

.company-comment-text::selection {
    background-color: var(--logo-color);
    color: #000;
}

/* Дата коментария */
.company-comment-date {
    color: #777;
    font-size: .9em;
    position: absolute;
    right: 10px;
    bottom: 0;
    cursor: default;
}