#company-title {
    color: var(--logo-color);
    text-align: center;
    font-weight: normal;
    white-space: pre-wrap;
    font-size: min(8vw, 30px);
}

#company-details {
    font-size: 18px;
}

#company-details>dt {
    margin-top: 20px;
    color: var(--logo-color);
}

#company-details>dd {
    overflow-wrap: anywhere;
    white-space: break-spaces;
}

#company-details>dd::selection {
    background-color: var(--logo-color);
    color: #000;
}