:root {
    --body-color-bg: #21262d;
    --header-color-bg: #0d1117;
    --block-color-bg: #2e353e;
    --logo-color: #ffc134;
    --logo-dark-color: #ffb300;
}

@media(width<920px) {
    #header-logo {
        display: none;
    }
}

@media(width<=480px) {

    .default-btn,
    .default-link {
        cursor: context-menu !important;
    }

    #mobile-menu-icon {
        background: url('/src/svg/mobile-menu.svg') no-repeat !important;
        background-size: contain !important;
        width: 50px !important;
        position: relative;
        z-index: 3;
        transition: filter 200ms;
    }

    header>nav {
        display: none !important;
    }

    header::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: var(--header-color-bg);

    }

    #main-nav {
        display: grid !important;
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 0;
        right: 0;
        background-color: var(--body-color-bg);
        box-shadow: 0 1px 6px var(--header-color-bg);
        transition: transform 200ms linear;
        line-height: 50px;
        transform: translateY(-100%);
    }

    #main-nav>* {
        padding: 0 10px;
        border-bottom: 2px groove var(--block-color-bg);
        margin: 0 !important;
    }

    #main-nav>*:last-child {
        border: none;
    }
}

* {
    box-sizing: border-box;
}

/* Убираем выделение всех текстовых элементов */
*::selection:not(input, textarea) {
    background-color: transparent;
}

body::-webkit-scrollbar {
    background-image: var(--header-color-bg);
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--logo-color);
    border-radius: 4px;
}

input::selection,
textarea::selection {
    background-color: var(--logo-color);
    color: #000;
}

.hidden {
    display: none !important;
}

#main-notification {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 500ms;
    width: max-content;
    max-width: 95%;
    margin-inline: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background-color: var(--header-color-bg);
}

#main-notification>div {
    position: relative;
    top: 1px;
    height: 2px;
    transition: all 5s linear;
    background-color: var(--logo-color);
    transform: scaleX(0);
    box-shadow: 0 0 6px 0 var(--logo-color);
}

#main-notification>span {
    text-align: center;
    display: block;
    font-size: 20px;
    padding: 10px 5%;
    white-space: break-spaces;
}

/* Стандартный стиль кнопки */
.default-btn {
    display: block;
    padding: 8px 16px;
    background: linear-gradient(var(--logo-color), var(--logo-dark-color));
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: max-content;
}

.default-btn:hover {
    background: linear-gradient(var(--logo-dark-color), var(--logo-color));
}

.default-btn:active:not(:disabled) {
    background: transparent;
    outline: 1px solid;
    color: var(--logo-color);
}

.default-btn:disabled {
    background-color: #bbb;
    cursor: default;
}

/* Стандартный стиль ссылки */
.default-link {
    color: #bbb;
    cursor: pointer;
}

.default-link:hover {
    color: #fff;
}

.default-input-text {
    background-color: var(--block-color-bg);
    border: none;
    outline: 1px solid transparent;
    padding: 10px;
    color: #fff;
    border-radius: 2px;
    resize: none;
    width: 100%;
}

.default-input-text:focus {
    outline-color: var(--logo-color);
}

.default-input-text:focus::placeholder {
    color: var(--logo-color);
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    border-color: #434b54
}

main {
    padding: 50px 20px;
}

body {
    background-color: var(--body-color-bg);
    margin: 0;
    color: #fff;
    font-family: system-ui;
    min-height: 100vh;
    white-space: nowrap;
}

/* Шапка */
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--header-color-bg);
    height: 50px;
    line-height: 50px;
    padding: 0 1%;
    position: relative;
    z-index: 3;
}

/* Лого */
#header-logo {
    color: var(--logo-color);
    font-size: 38px;
    letter-spacing: 1px;
    cursor: default;
    white-space: nowrap;
}

/* Выделяемая подстрока в Лого */
#header-logo>span {
    color: var(--header-color-bg);
    background-color: var(--logo-color);
    font-weight: 600;
}

header>nav> {
    transform: translateY(0);
}

/* Каждый кликабельный элемент в правой части шапки*/
header>nav>* {
    margin-inline: 6px;
}