:root {
    --body-color-bg: #21262d;
    --header-color-bg: #0d1117;
    --block-color-bg: #2e353e;
    --logo-color: #ffc134;
    --logo-dark-color: #ffb300;
}

@media(width<800px) {
    #header-logo {
        display: none;
    }
}

/* @media(width<480px) {

} */

*{
    box-sizing: border-box;
}

/* Убираем выделение всех текстовых элементов */
*::selection {
    background-color: transparent;
}

.hidden {
    display: none !important;
}

/* Стандартный стиль кнопки */
.default-btn {
    display: block;
    padding: 5px 10px;
    background-color: var(--logo-color);
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: max-content;
}

.default-btn:hover {
    background-color: var(--logo-dark-color);
}

.default-btn:active:not(:disabled) {
    background-color: transparent;
    outline: 1px solid;
    color: var(--logo-color);
}

.default-btn:disabled {
    background-color: #bbb;
    cursor: default;
}

/* Стандартный стиль ссылки */
.default-link {
    color: #bbb;
}

.default-link:hover {
    color: #fff;
}

.default-input-text {
    background-color: var(--block-color-bg);
    border: none;
    outline: 1px solid transparent;
    padding: 10px 4%;
    color: #fff;
    border-radius: 2px;
}

.default-input-text:focus {
    outline-color: var(--logo-color);
}

.default-input-text:focus::placeholder {
    color: var(--logo-color);
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    border-color: #434b54
}

main {
    padding: 50px 20px;
}

body {
    background-color: var(--body-color-bg);
    margin: 0;
    color: #fff;
    font-family: system-ui;
    min-height: 100vh;
    white-space: nowrap;
}

/* Шапка */
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--header-color-bg);
    height: 50px;
    line-height: 50px;
    padding: 0 1%;
}

/* Лого */
#header-logo {
    color: var(--logo-color);
    font-size: 38px;
    letter-spacing: 1px;
    cursor: default;
    white-space: nowrap;
}

/* Выделяемая подстрока в Лого */
#header-logo>span {
    color: var(--header-color-bg);
    background-color: var(--logo-color);
    font-weight: 600;
}

/* Элементы в правой части шапки */
header>nav {
    display: flex;
}

/* Каждый кликабельный элемент в правой части шапки*/
header>nav>* {
    cursor: pointer;
    margin-inline: 6px;
}