/* Блок содержащий карточки компаний */
#catalog {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 25px;
}

/* Карточка компании */
.catalog-company-card {
    display: flex;
    flex-direction: column;
    background-color: #2e353e;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px #00000090;
    text-shadow: -1px 1px 1px #000;
}

.catalog-company-card>hr {
    border-color: #434b54;
}

.catalog-company-card>*>span {
    color: var(--logo-color)
}

.catalog-company-card-name {
    text-align: center;
    color: var(--logo-color);
}

/* Максимально растянуть предпоследний элемент , что-бы прижать кнопки к низу */
.catalog-company-card-CEO{
    flex-grow: 1;
}

.catalog-company-card-control{
    display: flex;
    justify-content: space-between;
}

.catalog-company-card-button{
    text-shadow: none;
    margin-block: 10px;
}

.catalog-company-card-comment {
    text-align: end;
    cursor: pointer;
}

/* Кнопка, "Новая компания" */
#new_company_btn {
    display: none;
}

/* Кнопка "Показать все компании" */
#show-all-companies-btn {
    margin: 20px auto;
}