/* Блок содержащий карточки компаний */
#catalog {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 25px;
}

/* Карточка компании */
.catalog-company-card {
    background-color: #2e353e;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px #00000090;
}

.catalog-company-card>hr {
    border-color: #434b54;
}

.catalog-company-card-name {
    text-align: center;
}

.catalog-company-card>*>span,
.catalog-company-card-name {
    color: var(--logo-color)
}

/* Кнопка, "Новая компания" */
#new_company_btn {
    display: none;
}

/* Кнопка "Показать все компании" */
#show-all-companies-btn{
    margin: 20px auto;
}