:root {
    --body-color-bg: #21262d;
    --header-color-bg: #0d1117;
    --logo-color: #ffc134;
    --logo-dark-color: #ffb300;
}

/* Убираем выделение всех текстовых элементов */
*::selection {
    background-color: transparent;
}

.hidden {
    display: none !important;
}

.default-btn {
    display: block;
    padding: 5px 10px;
    background-color: var(--logo-color);
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: max-content;
}

.default-btn:hover {
    background-color: var(--logo-dark-color);
}

.default-btn:active {
    background-color: transparent;
    outline: 1px solid;
    color: var(--logo-color);
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    padding: 50px 20px;
}

body {
    background-color: var(--body-color-bg);
    margin: 0;
    color: #fff;
    font-family: system-ui;
    min-height: 100vh;
}

/* Шапка */
header {
    background-color: var(--header-color-bg);
    height: 50px;
    line-height: 50px;
    padding: 0 1%;
    white-space: nowrap;
}

/* Лого */
#header-logo {
    color: var(--logo-color);
    font-size: 38px;
    letter-spacing: 1px;
    cursor: default;
}

/* Выделяемая подстрока в Лого */
#header-logo>span {
    color: var(--header-color-bg);
    background-color: var(--logo-color);
    font-weight: 600;
}

/* Элементы в правой части шапки */
header>nav {
    display: flex;
    float: right;
    width: 380px;
    justify-content: space-between;
    color: #bbb;
}

/* Каждый кликабельный элемент в правой части шапки*/
header>nav>* {
    cursor: pointer;
}

header>nav>span:hover {
    color: #fff;
}

#header-search-icon {
    width: 40px;
    height: 40px;
    background: url('src/svg/search-icon.svg');
    margin: 5px 0;
    position: relative;
}

#header-search-icon:hover div {
    display: block;
}

#header-search-icon>div {
    position: absolute;
    display: none;
    top: 40px;
    left: -20px;
}

#header-search-icon>div>ul {
    list-style: none;
    padding: 0;
    text-align: center;
    box-shadow: 0 0 4px #000;
    border-radius: 10px;
    overflow: hidden;
}

#header-search-icon>div>ul>li {
    background-color: var(--header-color-bg);
    padding: 0 10px;
}

#header-search-icon>div>ul>li:hover {
    color: var(--logo-color)
}

/* Блок поиска */
#search-block {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000099;
}

#search-block>fieldset {
    background-color: var(--body-color-bg);
    place-self: center;
    padding: 0 20px;
    border-radius: 30px;
}

#search-block>fieldset>legend {
    color: var(--logo-color);
    text-align: center;
    font-size: 20px;
}

#search-block>fieldset>input {
    width: min(380px, 90vh);
    background-color: transparent;
    border: none;
    outline: 2px solid #fff;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 10px;
    color: #fff;
}

#search-block>fieldset>input:focus {
    outline-color: var(--logo-color);
}

#search-block>fieldset>p {
    text-align: center;
    font-size: 18px;
    text-shadow: -1px 1px #000;
    margin: 20px 0;
}

#search-block>fieldset>button {
    margin: 20px auto;
    font-size: 18px;
}